# Google Maps API Keys
GOOGLE_MAPS_WEB_KEY=AIzaSyC1FqbSw4TzGRO5FwQYo3_7iDFP2ynTlpQ
GOOGLE_MAPS_ANDROID_KEY=AIzaSyDs_vewHuQ2DK5r8yqvJ4W2jvUAusC3SkY

# OSRM API (optional, defaults to public instance)
OSRM_BASE_URL=https://router.project-osrm.org/route/v1/driving

# Параметры склада (координаты Мишмарот)
WAREHOUSE_LAT=32.48698
WAREHOUSE_LNG=34.982121

